Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo

fix(ktableview): align nested table with parent [KHCP-14265] (#2533)
  src/styles/mixins/_tables.scss
Owners: @Kong/team-core-ui

chore(release): 9.14.19 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  11e7b32c54ab00ef0e203f8517dc158571f20c11
Owners: @Kong/team-core-ui

feat(slots): unwrap slots in mdc
  src/components/KAlert/KAlert.vue
  src/components/KBadge/KBadge.vue
  src/components/KButton/KButton.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KInput/KInput.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KLabel/KLabel.vue
  src/components/KRadio/KRadio.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
  src/components/KTooltip/KTooltip.vue
  src/components/KTruncate/KTruncate.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(composables): use useid instead of nanoid [KHCP-14269]
  package.json
  src/composables/useUniqueId.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(*): remove usage of v-bind-once [KHCP-14269]
  src/components/KCatalog/KCatalog.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KLabel/KLabel.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPop/KPop.vue
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.vue
  src/components/KTableView/KTableView.vue
  src/components/KTextArea/KTextArea.vue
  src/components/KTooltip/KTooltip.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(deps): remove vue-bind-once and nanoid [KHCP-14269]
  package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(*): clean up vue-bind-once references [KHCP-14269]
  cypress/support/index.ts
  docs/guide/contributing.md
  docs/guide/usage.md
  src/index.ts
Owners: @adamdehaven, @kaiarrowood, @jillztom, @Kong/team-core-ui

fix(ktableview): replace useuniqueid with useid [KHCP-14269]
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(*): replace useuniqueid with useid [KHCP-14269]
  src/components/KCatalog/KCatalog.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KLabel/KLabel.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPop/KPop.vue
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.vue
  src/components/KTableData/KTableData.vue
  src/components/KTextArea/KTextArea.vue
  src/components/KToaster/ToastManager.ts
  src/components/KTooltip/KTooltip.vue
  src/composables/useUniqueId.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs: remove useuniqueid reference [KHCP-14269]
  docs/guide/contributing.md
Owners: @Kong/team-core-ui

fix(ktableview): use nanoid for dynamic row key [KHCP-14269]
  package.json
  pnpm-lock.yaml
  src/components/KTableView/KTableView.vue
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(kselect, kmultiselect): created item value [KHCP-14269]
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktoaster): use nanoid for toast key [KHCP-14269]
  src/components/KToaster/ToastManager.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs: nanoid usage [KHCP-14269]
  docs/guide/contributing.md
Owners: @Kong/team-core-ui

fix(kradio): remove horizontal card vertical spacing (#2526)
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.20 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  b52d45f7b25cdd0fb913b88655a962df08a8138e
Owners: @Kong/team-core-ui

fix: add getuniqueidstring utility function [KHCP-14269]
  docs/guide/contributing.md
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
  src/components/KTableView/KTableView.vue
  src/components/KToaster/ToastManager.ts
  src/utilities/getUniqueStringId.ts
  src/utilities/index.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs: apply pr feedback
  docs/guide/contributing.md
Owners: @Kong/team-core-ui

fix: address pr feedback
  docs/guide/contributing.md
Owners: @Kong/team-core-ui

fix(link): apply styles to deep
  src/components/KAlert/KAlert.vue
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.21 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  205cbdc2227e9136fa9f96d4fc025ee1d818177b
Owners: @Kong/team-core-ui

feat(nuxt): export nuxt module
  docs/guide/index.md
  module/kongponents.nuxt.ts
  module/tsconfig.json
  package.json
  pnpm-lock.yaml
  vite.config.nuxt.module.ts
  vite.config.ts
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

docs: add note on nuxt
  docs/guide/index.md
Owners: @Kong/team-core-ui

fix: import path and extension
  module/kongponents.nuxt.ts
  package.json
  pnpm-lock.yaml
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

refactor: try different registration method
  module/kongponents.nuxt.ts
Owners: @Kong/team-core-ui

refactor: try explicit paths
  module/kongponents.nuxt.ts
Owners: @Kong/team-core-ui

fix: address pr feedback
  src/components/KCheckbox/KCheckbox.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.vue
  src/components/KTextArea/KTextArea.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KToaster/ToastManager.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KToaster/ToastManager.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(*): remove vue-bind-once [KHCP-14269] (#2535)
  cypress/support/index.ts
  docs/guide/contributing.md
  docs/guide/usage.md
  package.json
  pnpm-lock.yaml
  src/components/KCatalog/KCatalog.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KLabel/KLabel.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPop/KPop.vue
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableView/KTableView.vue
  src/components/KTextArea/KTextArea.vue
  src/components/KToaster/ToastManager.ts
  src/components/KTooltip/KTooltip.vue
  src/composables/useUniqueId.ts
  src/index.ts
  src/utilities/getUniqueStringId.ts
  src/utilities/index.ts
Owners: @adamdehaven, @kaiarrowood, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Justineo

chore(release): 9.14.22 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  df592eecb375b0506644e0ad2f72fbd3d49a3ae0
Owners: @Kong/team-core-ui

fix(kalert): default slotted code styles [KHCP-14406]
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/styles/mixins/_common.scss
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kalert): default slotted code styles [KHCP-14406] (#2540)
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/styles/mixins/_common.scss
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.23 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  738896dc5d9495105cb4a884fea3c856fb469a66
Owners: @Kong/team-core-ui
