Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @kongponents-bot, @portikM

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood
yarn.lock @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood

# Design Tokens Implemented Kongponents
# This is temporary codeowners until we introduce design tokens practices to the whole team
/src/components/KButton @portikM @adamdehaven @jillztom
/src/components/KAlert @portikM @adamdehaven @jillztom

fix(kalert): remove comments [KHCP-7693]
  src/components/KAlert/KAlert.vue
Owners: @portikM, @adamdehaven, @jillztom

fix(kcatalog): flakey test [khcp-7022] (#1495)
  src/components/KCatalog/KCatalog.cy.ts
  src/components/KCatalog/KCatalog.vue
Owners: @Kong/team-core-ui

chore(release): 8.84.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood

Notes added by 'git notes add'
  6c/3d9bcb3956d334411bcb8e01167f1312f00ed6
Owners: @Kong/team-core-ui

fix(KTruncate, KMultiselect): add fix for ResizeObserver [KHCP-7734]
  src/components/KMultiselect/KMultiselect.vue
  src/components/KTruncate/KTruncate.vue
Owners: @Kong/team-core-ui

fix(KTruncate, KMultiselect): add comments [KHCP-7734]
  src/components/KMultiselect/KMultiselect.vue
  src/components/KTruncate/KTruncate.vue
Owners: @Kong/team-core-ui

fix(KTruncate, KMultiselect): add fix for ResizeObserver [KHCP-7734] (#1508)
  src/components/KMultiselect/KMultiselect.vue
  src/components/KTruncate/KTruncate.vue
Owners: @Kong/team-core-ui

chore(release): 8.84.8 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood

Notes added by 'git notes add'
  83/993069a913aaf6a5fbfdd4cfcebf4c35f82077
Owners: @Kong/team-core-ui
