Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

Notes added by 'git notes add'
  90b4198ef182f07400b308350f5f401bf298a787
Owners: @Kong/team-core-ui

docs: minor fix
  docs/components/datetime-picker.md
  docs/components/tree-list.md
Owners: @Kong/team-core-ui

docs: remove percy styles (#2519)
  docs/.vitepress/theme/_percy.scss
  docs/.vitepress/theme/index.scss
  docs/components/datetime-picker.md
  docs/components/tree-list.md
Owners: @Kong/team-core-ui

fix(ktableview, ktabledata): table updates event [KHCP-14032]
  src/components/KTableData/KTableData.vue
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktableview, ktabledata): table updates event [KHCP-14032] (#2520)
  src/components/KTableData/KTableData.vue
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.15 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  7ac4942f67a0d9d410bd2e01a4961d891c31d480
Owners: @Kong/team-core-ui

fix(kinputswitch): fix events race condition
  src/components/KInputSwitch/KInputSwitch.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kinputswitch): fix events race condition (#2523)
  src/components/KInputSwitch/KInputSwitch.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.16 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  46b20fd5127507f97de7a190f1eb2da0ffa193d3
Owners: @Kong/team-core-ui

fix(kradio): remove horizontal card vertical spacing
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktableview): row-expanded prop and event [KHCP-14243]
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KTableView/KTableView.vue
  src/types/table.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KTableView/KTableView.vue
  src/types/table.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): reflect ktableview updates [KHCP-14243]
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(sandbox): update ktabledata [KHCP-14243]
  sandbox/pages/SandboxTableData.vue
Owners: @Kong/team-core-ui

docs(table-view): update component docs [KHCP-14243]
  docs/components/table-view.md
Owners: @Kong/team-core-ui

test(ktableview): update component tests [KHCP-14243]
  src/components/KTableView/KTableView.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kalert): slotted links default styling [KHCP-14152]
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kalert): slotted links default styling [KHCP-14152] (#2528)
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktableview): row-expanded prop and event [KHCP-14243] (#2527)
  docs/components/table-view.md
  sandbox/pages/SandboxTableData.vue
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
  src/types/table.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(table-view): minor tweak
  docs/components/table-view.md
Owners: @Kong/team-core-ui

chore(release): 9.14.17 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  9dd3e03b4216c97cf60a66c8097c2109e3daebd2
Owners: @Kong/team-core-ui

docs(table-view): minor tweak (#2529)
  docs/components/table-view.md
Owners: @Kong/team-core-ui

fix(ktabledata): fix fetcher cache key
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): move code up
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): modify tests
  src/components/KTableData/KTableData.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(ktabledata): add debug log
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kcodeblock): ts error [KHCP-11924]
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): allow tab anchores to be links [KHCP-13866]
  docs/components/tabs.md
  sandbox/pages/SandboxTabs.vue
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
  src/types/tabs.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): revert role navigation changes [KHCP-13866]
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktableview): align nested table with parent [KHCP-14265]
  src/styles/mixins/_tables.scss
Owners: @Kong/team-core-ui

fix(ktabledata): use auto revalidation
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): simplify filter change
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  docs/components/tabs.md
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): allow tab anchors to be links [KHCP-13866] (#2532)
  docs/components/tabs.md
  sandbox/pages/SandboxTabs.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
  src/types/tabs.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.18 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  8741ab5e7ffdac3f5d4045e86cd5604ddae86989
Owners: @Kong/team-core-ui

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
