Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/deprecated-classes.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood
yarn.lock @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood

chore: pin v-calendar
  package.json
  yarn.lock
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood

feat(*): kongponents major reskin [KHCP-8873]
  docs/.vitepress/config.ts
  docs/components/tooltip.md
  docs/guide/migrating-to-version-9.md
  docs/guide/styles/standalone-usage.md
  netlify.toml
  package.json
  renovate.json
  src/components/KDropdownMenu/KDropdownMenu.vue
  src/components/Komponent/index.ts
  src/components/Kooltip/index.ts
  src/components/Krumbs/index.ts
  src/components/index.ts
  src/global-components.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kongponents-bot, @kaiarrowood

docs: remove dead link
  docs/guide/usage.md
Owners: @Kong/team-core-ui

docs: migration guide
  docs/guide/migrating-to-version-9.md
Owners: @Kong/team-core-ui

docs: version links
  docs/.vitepress/config.ts
Owners: @Kong/team-core-ui

chore: prep alpha version settings
  docs/.vitepress/config.ts
  renovate.json
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG

chore: netlify config
  netlify.toml
Owners: @adamdehaven, @jillztom, @ValeryG

docs: update netlify node version
  netlify.toml
Owners: @adamdehaven, @jillztom, @ValeryG

chore: update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @adamdehaven, @jillztom

chore(release): 8.123.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood

Notes added by 'git notes add'
  aa/7537c5a30272ef483d26e4dd561d7f9428d4a6
Owners: @Kong/team-core-ui

ci: enable alpha branch previews
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom

revert: v-calendar update
  package.json
  renovate.json
  yarn.lock
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @ValeryG

chore: peerDependencies
  package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood

chore: renovate baseBranches
  renovate.json
Owners: @adamdehaven, @jillztom, @ValeryG

chore: prep alpha version settings (#1710)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  netlify.toml
  renovate.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @ValeryG

chore: remove codeql
  .github/workflows/codeql-analysis.yaml
Owners: @adamdehaven, @jillztom

fix(release): trigger release
  src/index.ts
Owners: @adamdehaven, @jillztom

chore(release): 9.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood

Notes added by 'git notes add'
  f7/b3d1d1ebe94da2581b9db0bdf1896f75a20ff8
Owners: @Kong/team-core-ui

chore(release): 8.123.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood

Notes added by 'git notes add'
  72/c610a786a232c32c27b9192786186aacefd714
Owners: @Kong/team-core-ui
