Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo

fix(kmultiselect): revert changes
  src/components/KMultiselect/KMultiselect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(kbutton): add appearance="none" to button
  .stylelintrc.mjs
  sandbox/pages/SandboxButton.vue
  src/components/KButton/KButton.vue
  src/types/button.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(ktable): add docs
  docs/components/button.md
  docs/vite.config.ts
Owners: @Kong/team-core-ui

fix(sass): update @import to @use
  docs/.vitepress/theme/index.scss
  docs/guide/usage.md
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  src/styles/_mixins.scss
  src/styles/_transitions.scss
  src/styles/_vars.scss
  src/styles/mixins/_inputs.scss
  src/styles/styles.scss
  vite.config.ts
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(kbutton): add more basestyle, remove href for disabled link
  docs/components/button.md
  src/components/KButton/KButton.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(ktable): refine note
  docs/components/button.md
Owners: @Kong/team-core-ui

fix(kbutton): add style when `icon` is set
  docs/components/button.md
  src/components/KButton/KButton.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(kbutton): improve docs, remove icon+text example from sandbox
  docs/components/button.md
  sandbox/pages/SandboxButton.vue
Owners: @Kong/team-core-ui

refactor(kpop): improve kpop performance on page scrolling
  src/components/KPop/KPop.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(kbutton): add appearance="none" to button (#2469)
  .stylelintrc.mjs
  docs/components/button.md
  docs/vite.config.ts
  sandbox/pages/SandboxButton.vue
  src/components/KButton/KButton.vue
  src/types/button.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.13.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  6e6bf1a2313a0a13ed30d00e61761714a2a4e96c
Owners: @Kong/team-core-ui

refactor(kpop): improve kpop performance on page scrolling (#2476)
  src/components/KPop/KPop.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(sandbox): add example
  sandbox/pages/SandboxTableView/SandboxTableView.vue
Owners: @Kong/team-core-ui

chore(sandbox): misc fixes
  sandbox/pages/SandboxTableView/SandboxTableView.vue
Owners: @Kong/team-core-ui

fix(ktabs): slotted anchor link color
  docs/components/table-view.md
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): slotted link color
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): slotted anchor link active
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(kselect): add `before` slot
  docs/components/select.md
  sandbox/pages/SandboxSelect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): add anchor-tabindex prop
  sandbox/pages/SandboxTabs.vue
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(tabs): anchor-tabindex prop
  docs/components/tabs.md
Owners: @Kong/team-core-ui

fix: address pr feedback
  docs/components/tabs.md
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  docs/components/tabs.md
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  sandbox/pages/SandboxTabs.vue
Owners: @Kong/team-core-ui

fix(ktabs): apply pr feedback
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): slotted anchor link (#2480)
  docs/components/table-view.md
  docs/components/tabs.md
  sandbox/pages/SandboxTabs.vue
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.13.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  2e953bae26ac4325f0814286b55aea14e1930cc2
Owners: @Kong/team-core-ui

feat(kselect): add `before` slot (#2481)
  docs/components/select.md
  sandbox/pages/SandboxSelect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  b762a1120ec18143c84f0997c522c1116d37051e
Owners: @Kong/team-core-ui

docs(ktextarea): to clarify maximum characters of ktextarea for readers
  docs/components/textarea.md
Owners: @Kong/team-core-ui

fix(kselect): add item-creation-validator prop [KHCP-13862]
  docs/components/select.md
  sandbox/pages/SandboxSelect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): clear filter on blur [KHCP-13444]
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect, kmultiselect): create item on enter key press [KHCP-13444]
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

test(kselect): fix component tests [KHCP-13444]
  src/components/KSelect/KSelect.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): clear filter on blur [KHCP-13444] (#2486)
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo
