Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

fix(kselect): remove altering slected item key [KHCP-13749]
  docs/components/select.md
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelectItems.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): remove altering slected item key [KHCP-13749] (#2541)
  docs/components/select.md
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.24 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  21bc592c661dfa0a184cd29244ed4891ca146fd7
Owners: @Kong/team-core-ui

fix(kpagination,ktableview): add missing import
  src/components/KPagination/PaginationOffset.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kpagination,ktableview): add missing import (#2542)
  src/components/KPagination/PaginationOffset.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.25 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  04151e52555ef58ef37d3834552b9cdd90490352
Owners: @Kong/team-core-ui

feat: export src
  module/kongponents.nuxt.ts
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix: exports
  package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix: lockfile
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix: package.json export
  package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(ktableview): sort order when changing sort column [KHCP-14449]
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktableview): sort order when changing sort column [KHCP-14449] (#2543)
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.26 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  07ae6ad4dda627b58b699b3cc64c9baa9d0d129e
Owners: @Kong/team-core-ui

chore: add a new sandbox for ktabledata
  sandbox/index.ts
  sandbox/pages/SandboxTableData2.vue
  sandbox/router/sandbox-routes.ts
Owners: @Kong/team-core-ui

feat(ktabledata): improve swrv caching for ktabledata
  package.json
  pnpm-lock.yaml
  src/components/KTableData/KTableData.vue
  src/composables/useUtilities.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(kbutton): add text-align
  src/components/KButton/KButton.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kbutton): add text-align (#2547)
  src/components/KButton/KButton.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.27 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  58be533ef12673a83aa617cbfcc85b218ea7876d
Owners: @Kong/team-core-ui

fix(kalert): code style
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kalert): code style (#2548)
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.28 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  84caab1ab8d52dbe4f3211c26967d7667253d17c
Owners: @Kong/team-core-ui

fix(kalert): use proper danger icon
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kalert): use proper danger icon (#2550)
  src/components/KAlert/KAlert.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.29 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  fea27253231f3bb13665ef44bbf602ab995361c8
Owners: @Kong/team-core-ui

docs(table-view, table-data): include shared component api [KHCP-14511]
  docs/components/parts/tables/script-setup.md
  docs/components/parts/tables/shared-events.md
  docs/components/parts/tables/shared-props.md
  docs/components/parts/tables/shared-slots.md
  docs/components/table-data.md
  docs/components/table-view.md
Owners: @Kong/team-core-ui

feat(ktabledata): improve swrv caching for ktabledata
  package.json
  pnpm-lock.yaml
  src/components/KTableData/KTableData.vue
  src/composables/useUtilities.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

chore: add a new sandbox for ktabledata
  sandbox/index.ts
  sandbox/pages/SandboxTableData2.vue
  sandbox/router/sandbox-routes.ts
Owners: @Kong/team-core-ui

fix(ktabledata): improve types
  src/components/KTableData/KTableData.vue
  src/composables/useUtilities.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kcodeblock): fix maxHeight and getSizeFromString util
  src/composables/useUtilities.cy.ts
  src/composables/useUtilities.ts
Owners: @Kong/team-core-ui

fix(kcodeblock): fix maxHeight and getSizeFromString util (#2554)
  src/composables/useUtilities.cy.ts
  src/composables/useUtilities.ts
Owners: @Kong/team-core-ui

chore(release): 9.14.30 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  56eaa5e5d83644c61ac5bcccc14738e769da254d
Owners: @Kong/team-core-ui

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
