Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo

fix(kinput): add show-masking-toggle prop [KHCP-13466] (#2448)
  docs/components/input.md
  sandbox/pages/SandboxInput.vue
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.11.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  2d369d506c57fbdb19f12a83908ba2dac8fe7d22
Owners: @Kong/team-core-ui

fix(kselect, kcheckbox): accept null in v-model
  src/components/KCheckbox/KCheckbox.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kinputswitch): accept null in v-model
  src/components/KInputSwitch/KInputSwitch.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktable): bulk actions checkboxes should be valign center (#2446)
  src/components/KCheckbox/KCheckbox.vue
  src/styles/mixins/_tables.scss
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.11.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  5e32e9c4bf13c7e08898766e855c2010cb830ba8
Owners: @Kong/team-core-ui

chore(*): switch to sass modern api
  package.json
  pnpm-lock.yaml
  vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(kpagination): ensure firstDetached consistency [KM-580]
  src/components/KPagination/KPagination.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(*): switch to sass modern api (#2451)
  package.json
  pnpm-lock.yaml
  vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(kinput): prevent focus loss on icon/button click
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(kinput): fix description
  docs/components/input.md
Owners: @Kong/team-core-ui

fix(klabel): fix aria attributes on tooltip icon
  src/components/KLabel/KLabel.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(kinput): fix typo
  docs/components/input.md
Owners: @Kong/team-core-ui

docs(kinput): fix typo (#2455)
  docs/components/input.md
Owners: @Kong/team-core-ui

fix: update the helpUrl
  commitlint.config.ts
Owners: @Kong/team-core-ui

fix: update the helpUrl (#2458)
  commitlint.config.ts
Owners: @Kong/team-core-ui

chore(release): 9.11.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  dfba386784b36890f4b15cf511a49b8a7ff24bd9
Owners: @Kong/team-core-ui

fix(kpagination): ensure firstDetached consistency [KM-580] (#2452)
  src/components/KPagination/KPagination.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.11.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  5031d4b663df7d646b16197f7a8c64817f1fa379
Owners: @Kong/team-core-ui

fix(klabel): fix aria attributes on tooltip icon (#2454)
  src/components/KLabel/KLabel.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kinput): prevent focus loss on icon/button click (#2453)
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.11.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  be5df2d4467087add361cd0564110bafde52dd4d
Owners: @Kong/team-core-ui

fix: apply pf feedback
  docs/components/table.md
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/types/table.ts
  src/utilities/tableHelpers.ts
Owners: @Kong/team-core-ui

fix: address pr feedback
  src/utilities/tableHelpers.ts
Owners: @Kong/team-core-ui

fix: address pr feedback
  docs/components/table-data.md
  docs/components/table-view.md
  src/components/KTableView/KTableView.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(ktabledata): create component [KHCP-13110] (#2405)
  docs/.vitepress/config.ts
  docs/components/table-data.md
  docs/components/table-view.md
  docs/components/table.md
  sandbox/index.ts
  sandbox/pages/SandboxTable/SandboxTable.vue
  sandbox/pages/SandboxTableData.vue
  sandbox/router/sandbox-routes.ts
  src/components/KEmptyState/KEmptyState.vue
  src/components/KModalFullscreen/KModalFullscreen.vue
  src/components/KTable/KTable.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/KTableData.vue
  src/components/KTableView/BulkActionsDropdown.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTableView/KTableView.vue
  src/components/index.ts
  src/global-components.ts
  src/types/table.ts
  src/utilities/index.ts
  src/utilities/tableHelpers.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.12.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  dad8f4a48cba28d16f2a934780f6e7d5c72ef256
Owners: @Kong/team-core-ui

fix(kcheckbox, kinputswitch): revert changes
  src/components/KCheckbox/KCheckbox.vue
  src/components/KInputSwitch/KInputSwitch.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kmultiselect): support null in modelvalue
  src/components/KMultiselect/KMultiselect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): show loading when revalidating
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabledata): show loading when revalidating (#2466)
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.12.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  8e527b941432e9a97255243afa7faef879ecaf2a
Owners: @Kong/team-core-ui
