Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo

feat(kcodeblock): add highlighted line numbers prop
  docs/components/codeblock.md
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kcodeblock): pr feedback
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: mounted logic with query
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: comment
  src/components/KCodeBlock/KCodeBlock.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: pr feedback
  docs/components/codeblock.md
Owners: @Kong/team-core-ui

fix: pr feedback
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(kcodeblock): add highlighted line numbers prop (#2555)
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.15.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  479a4b2136a5b082fa824fa423fdfd0434354097
Owners: @Kong/team-core-ui

ci: remove pull request target [KHCP-14529]
  .github/workflows/auto-approve.yaml
  .github/workflows/pr-closed.yaml
Owners: @adamdehaven, @jillztom

ci: remove pull request target [KHCP-14529] (#2556)
  .github/workflows/auto-approve.yaml
  .github/workflows/pr-closed.yaml
Owners: @adamdehaven, @jillztom

ci: rename workflow jobs
  .github/workflows/pr-on-close.yaml
  .github/workflows/renovate-auto-approve.yaml
Owners: @adamdehaven, @jillztom

ci: rename workflow jobs (#2557)
  .github/workflows/pr-on-close.yaml
  .github/workflows/renovate-auto-approve.yaml
Owners: @adamdehaven, @jillztom
