Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo

Notes added by 'git notes add'
  9aa310a6ac61d1b06269eae76e9a1d5ffc1fe9a5
Owners: @Kong/team-core-ui

docs(toggle): fix component docs [KHCP-13938]
  docs/components/renderless/toggle.md
Owners: @Kong/team-core-ui

docs(toggle): fix component docs [KHCP-13938] (#2502)
  docs/components/renderless/toggle.md
Owners: @Kong/team-core-ui

fix(kradio): show-card-radio and card-orientation props [KHCP-13540]
  sandbox/pages/SandboxRadio.vue
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

test(kradio): update component tests [KHCP-13540]
  src/components/KRadio/KRadio.cy.ts
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(kradio): update component docs [KHCP-13540]
  docs/components/radio.md
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: apply pr feedback
  docs/components/radio.md
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  docs/components/radio.md
  sandbox/pages/SandboxRadio.vue
  src/components/KRadio/KRadio.cy.ts
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

feat(ktable): expose table data and revalidate handle
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(ktabledata): build
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(ktabledata): fix type resolve issue
  src/components/KTableData/KTableData.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kcodeblock): type error
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kcodeblock): type error (#2511)
  src/components/KCodeBlock/KCodeBlock.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.9 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  c57f96b2b3f032dd863eb1c94854eed34a878064
Owners: @Kong/team-core-ui

fix(kselect): item creation logic [KHCP-13908]
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

test(kselect): update component tests [KHCP-13908]
  src/components/KSelect/KSelect.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs(select): update enable-item-creation prop docs [KHCP-13908]
  docs/components/select.md
Owners: @Kong/team-core-ui

fix(ktabs): minor fix
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(ktabs): minor fix (#2513)
  src/components/KTabs/KTabs.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.10 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  ce43e6369647f2d1046b63bb438e5e9444f5325d
Owners: @Kong/team-core-ui

fix(kselect): item creation logic [KHCP-13908] (#2512)
  docs/components/select.md
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.11 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  94bc295fa1d58a8c27dd5e8bf9621ac0eadd1124
Owners: @Kong/team-core-ui

fix: address pr feedback
  docs/components/radio.md
Owners: @Kong/team-core-ui

fix(kradio): show-card-radio and card-orientation props [KHCP-13540] (#2504)
  docs/components/radio.md
  sandbox/pages/SandboxRadio.vue
  src/components/KRadio/KRadio.cy.ts
  src/components/KRadio/KRadio.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.12 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  aab1eb950cccf919acc57a85a925c4ba526ffb34
Owners: @Kong/team-core-ui

fix(kselect, kmultiselect): create item on enter logic
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect, kmultiselect): create item on enter logic (#2514)
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.13 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  3885b8e0ef946ee1fac355ab62b4b1514ba328ec
Owners: @Kong/team-core-ui

chore(deps): bump sass [KHCP-13755]
  package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

fix(src): sass @import to @use [KHCP-13755]
  src/styles/_mixins.scss
  src/styles/_transitions.scss
  src/styles/_vars.scss
  src/styles/globals.scss
  src/styles/mixins/_badges.scss
  src/styles/mixins/_buttons.scss
  src/styles/mixins/_cards.scss
  src/styles/mixins/_common.scss
  src/styles/mixins/_input-radio-checkbox.scss
  src/styles/mixins/_input-select.scss
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_inputs.scss
  src/styles/mixins/_label.scss
  src/styles/mixins/_loaders.scss
  src/styles/mixins/_tables.scss
  src/styles/styles.scss
  vite.config.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom

fix(docs): sass @import to @use [KHCP-13755]
  docs/.vitepress/theme/_overrides.scss
  docs/.vitepress/theme/_variables.scss
  docs/.vitepress/theme/index.scss
  docs/vite.config.ts
Owners: @Kong/team-core-ui

fix(mixins): minor tweak [KHCP-13755]
  src/styles/mixins/_buttons.scss
  src/styles/mixins/_common.scss
  src/styles/mixins/_tables.scss
Owners: @Kong/team-core-ui

fix(*): sass @import to @use [KHCP-13755] (#2518)
  docs/.vitepress/theme/_overrides.scss
  docs/.vitepress/theme/_variables.scss
  docs/.vitepress/theme/index.scss
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  src/styles/_mixins.scss
  src/styles/_transitions.scss
  src/styles/_vars.scss
  src/styles/globals.scss
  src/styles/mixins/_badges.scss
  src/styles/mixins/_buttons.scss
  src/styles/mixins/_cards.scss
  src/styles/mixins/_common.scss
  src/styles/mixins/_input-radio-checkbox.scss
  src/styles/mixins/_input-select.scss
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_inputs.scss
  src/styles/mixins/_label.scss
  src/styles/mixins/_loaders.scss
  src/styles/mixins/_tables.scss
  src/styles/styles.scss
  vite.config.ts
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

docs: remove percy styles
  docs/.vitepress/theme/_percy.scss
  docs/.vitepress/theme/index.scss
Owners: @Kong/team-core-ui

chore(release): 9.14.14 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo
