Repository Kong/kongponents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @kaiarrowood, @Justineo, @portikM, @kongponents-bot

chore(release): 9.14.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  013f1551ca294a67792c49afc685fc9c3103e2c4
Owners: @Kong/team-core-ui

fix(ktableview, ktabledata): cell-attrs prop type
  src/types/table.ts
Owners: @Kong/team-core-ui

fix(ktableview, ktabledata): row-attrs prop type
  src/types/table.ts
Owners: @Kong/team-core-ui

fix(ktableview, ktabledata): cell-attrs prop type (#2490)
  src/types/table.ts
Owners: @Kong/team-core-ui

chore(release): 9.14.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  70381691a4adb54f6395624cb6471138bf3e13ac
Owners: @Kong/team-core-ui

fix(kpop): not enterable
  src/components/KPop/KPop.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

test(kbutton): add mountWithProdRouter for kbutton test [KM-644]
  cypress/support/index.ts
  src/components/KButton/KButton.cy.ts
Owners: @adamdehaven, @kaiarrowood, @jillztom, @Kong/team-core-ui, @Justineo

fix(kbutton): make sure props.to is passed to router-link [KM-644]
  cypress/support/index.ts
  src/components/KButton/KButton.vue
Owners: @adamdehaven, @kaiarrowood, @jillztom, @Kong/team-core-ui, @Justineo

fix(kpop): not enterable (#2483)
  src/components/KPop/KPop.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  26220edf8295ff0a6469f2ae9c8f6e2a5c60f64c
Owners: @Kong/team-core-ui

fix(kbutton): pass to as long as it's a router-link [KM-644] (#2491)
  cypress/support/index.ts
  src/components/KButton/KButton.cy.ts
  src/components/KButton/KButton.vue
Owners: @adamdehaven, @kaiarrowood, @jillztom, @Kong/team-core-ui, @Justineo

chore(release): 9.14.4 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  bd564bef499b684e8aa04b5936f8eb4183cf1fe2
Owners: @Kong/team-core-ui

fix(kselect): dont emit query-change on select [KHCP-13895]
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

test(kselect): update tests [KHCP-13895]
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: address pr feedback
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): minor tweak [KHCP-13895]
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): don't emit query-change on select [KHCP-13895] (#2493)
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  b94dc3bdbe6e1fd33204ef1b2b412ceadfacde1d
Owners: @Kong/team-core-ui

fix: apply pr feedback
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

docs: address pr feedback [KHCP-13862]
  docs/components/multiselect.md
  docs/components/select.md
Owners: @Kong/team-core-ui

fix: minor fix
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix: minor fix
  src/components/KMultiselect/KMultiselect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect): add item-creation-validator prop [KHCP-13862] (#2485)
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.6 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  2737710a61c06098592854a9ce30acec57354923
Owners: @Kong/team-core-ui

fix(test): remove unnecessary waiting
  src/components/KCatalog/KCatalog.cy.ts
  src/components/KTable/KTable.cy.ts
  src/components/KTableData/KTableData.cy.ts
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.7 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

Notes added by 'git notes add'
  fe51adb5878ca7d0d7dfa8315064245f62c37193
Owners: @Kong/team-core-ui

fix(kselect,kmultiselect): enter should not submit form while filtering
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

fix(kselect,kmultiselect): enter should not submit form while filtering (#2497)
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Owners: @Kong/team-core-ui, @adamdehaven, @jillztom, @Justineo

chore(release): 9.14.8 [skip ci]
  CHANGELOG.md
  package.json
Owners: @Kong/team-core-ui, @kongponents-bot, @adamdehaven, @jillztom, @kaiarrowood, @Justineo

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @Kong/team-core-ui 

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom
/netlify.toml @adamdehaven @jillztom @ValeryG
/renovate.json @adamdehaven @jillztom @ValeryG

# CLI
/cli/ @adamdehaven @jillztom

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Components
/src/components/ @Kong/team-core-ui @adamdehaven @jillztom @Justineo

# Dev tools
/.eslintrc.js @adamdehaven @jillztom
/.stylelintrc.cjs @adamdehaven @jillztom @portikM
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom

# Dependabot approvals
# Allow Kongponents BOT to approve dependabot updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @kaiarrowood @Justineo
